body, html {
  background-image: url("emrich-compressed.gif");
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body::after {
  content: "";
  background-image: url("money.gif");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

body::before {
  content: "";
  background-color: white;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -2;
}

.readout {
  z-index: 2;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
}

.subtitle {
  font-size: 20px;
}

table.ui {
  margin-left: calc(50% - 300px);
  background-color: #28c432;
  height: 100px;
  max-width: 600px;
  position: fixed;
  opacity: .9;
}

td.readout {
  min-width: calc(600px / 3);
}

#money {
  vertical-align: middle;
  font-size: 50px;
}

.order-disp {
  display: box;
  position: absolute;
  width: 100%;
  height: 20px;
  opacity: 0.9;
}

.drag {
  display: box;
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: black !important;
  z-index: 1;
  opacity: 0.5 !important;
}

.drag:hover {
  cursor: ns-resize;
}

.buy.drag {
  margin-top: calc(70vh - 10vh);
}

.sell.drag {
  margin-top: calc(30vh - 10vh);
}

.sell {
  background-color:  green;
}

.buy {
  margin-top: 70vh;
  background-color: red;
  opacity: .75;
}

.timer_box {
  height: 50px;
  width: 100px;
  background-color: yellow;
  display: block;
  z-index: 2;
  position: fixed;
  margin-top: calc(100vh - 50px);
  margin-left: calc(50vw - 50px);
  text-align: center;
  font-size: 35px;
  padding-top: 5px;
}

#overall {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.disp {
  position: fixed;
  display: block;
  width: 80vw;
  max-height: 80vh;
  margin-top: 3.5vh;
  margin-left: calc(calc(100vw - 84vw) / 2);
  margin-bottom: 13vh;
  z-index: 3;
  background-size: cover;
  background-position: center;
  padding: 2vw;
  background-color: white;
  border-style: outset;
  border-radius: 8px;
  border-width: 8px;
  overflow-y: auto;
}

.letter {
  font-family: "Courier New", Courier, monospace;
}

.letter.salutation {
  font-size: 3.5vw;
}

.letter.text {
  text-indent: 30px;
}

.letter.signature {
  position: relative;
}

#sign {
  display:inline;
  margin-left: 3vw;
  padding:0px;
}

#name {
  display: inline;
  width: 50vw;
  border: 0;
  border-bottom: solid;
  background-color: lightgray;
}

#submit {
  float: right;
  margin-right: 5vw;
}
