<!-- This is a base HTML Template. All other pages extend this one. -->
<html>
  <head>
    <!-- Notice the double brackets. Flask can change 'title' dynamically with a function -->
    <title>{{ title }}</title>
  </head>
  <body>

    <!-- Header holds information Such as Number of connected users and number of responses -->
    <div>
        {{ header }}
        <a href="/home">Home</a> //
        <a href="/host">Host a Session</a> //
        <a href="/join">Join Session</a>
    </div>
    <hr>
    <!-- This is a variable declaration with jinja2 -->
    <!-- get_flashed_messages() returns a list of strings -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <u1>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </u1>
    {% endif %}
    {% endwith %}
    <!-- The thing we display for both the host and the user -->
    <p> {% block content %}{% endblock %} </p>

  </body>
</html>
