<!-- Jinja HTML for building a poll to be hosted -->

{% extends "base.html" %}

{% block content %}

  <form action="" method="post" novalidate>

    <p>
      {{ form.sessionID.label }}<br>
      {{ form.sessionID() }}
    </p>

    <p>
      {{ form.questionText.label }}<br>
      {{ form.questionText() }}
    </p>

    <p>
      {{ form.multipleResponse.label }}<br>
      {{ form.multipleResponse() }}
    </p>

    <p>
      Answers<br>
      {% for answer in form.answers %}
        {{ answer.form.answerText() }}<br><br>
      {% endfor %}
    </p>

    <p>
      {{ form.submit() }}
    </p>

  </form>
{% endblock %}
