<!-- This is our first inherited HTML page -->

{% extends "base.html" %}

<!-- Uses a bunch of jinja stuff. Mostly copied from web and jinja docs-->
<!-- It just essentially relies on wtforms and jinja to render forms instead of using HTML -->
{% block content %}
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.user.label }}<br>
        {{ form.user(size=32) }}
      </p>

      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
      </p>

      <p>
        {{ form.sessionID.label }}<br>
        {{ form.sessionID(size=32) }}
      </p>
      
  </form>
{% endblock %}
