<!-- This is our first inherited HTML page -->
<!-- It's really ugly for now, but I'm sure Tim or Greg can make it pretty with CSS -->

{% extends "base.html" %}

<!-- Uses a bunch of jinja stuff. Mostly copied from web and jinja docs-->
<!-- It just essentially relies on wtforms and jinja to render forms instead of using HTML -->
{% block content %}
  <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.user.label }}<br>
        {{ form.user(size=32) }}

        {% for error in form.user.errors %}
          <span style="color : red;">[{{ error}}]</span>
        {% endfor %}
      </p>

      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}

        {% for error in form.password.errors %}
          <span style="color : red;">[{{ error}}]</span>
        {% endfor %}
      </p>

      <p>
        {{ form.sessionID.label }}<br>
        {{ form.sessionID(size=32) }}

        {% for error in form.sessionID.errors %}
          <span style="color : red;">[{{ error}}]</span>
        {% endfor %}
      </p>

      <p>
        {{ form.joinSession() }}
      </p>
  </form>
{% endblock %}
