<!-- Webform for users to respond to polls. -->

{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div> {{ question }} </div><br>

    <div>
        <p>
          {{ form.a() }} {{ answers[0] }}<br>
        </p>

        <p>
          {{ form.b() }} {{ answers[1] }}<br>
        </p>

        <p>
          {{ form.c() }} {{ answers[2] }}<br>
        </p>

        <p>
          {{ form.d() }} {{ answers[3] }}<br>
        </p>

        {{ form.submit() }}
    </div>
</form>

{% endblock %}
